openapi: 3.0.3
info:
  title: JAイナバ売上管理サイト
  version: latest
servers:
  - url: http://jainner.kakinohatei.com/api/
    description: プロダクション API
  - url: http://localhost/api/
    description: 開発用
tags:
  - name: sales
    description: 売上の管理

paths:
  /sales/day/{year}/{month}/{day}:
    get:
      tags:
        - sales
        - day
      summary: 1日の売上を確認する
      description: 1日の売上を時間ごとの確認する
      operationId: getDailySales
      parameters:
        - $ref: "#/components/parameters/Year"
        - $ref: "#/components/parameters/Month"
        - $ref: "#/components/parameters/Day"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  sales:
                    type: array
                    items:
                      $ref: "#/components/schemas/DailySales"
                  store:
                    type: array
                    items:
                      $ref: "#/components/schemas/Store"
                  product:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
              examples:
                default:
                  $ref: "#/components/examples/DailySales"
        "400":
          description: リクエストが無効です。年、月、または日の形式が正しくありません。
        "404":
          description: 指定された週の売上データが見つかりません。
        "500":
          description: サーバーエラー。売上データの取得に失敗しました。

components:
  schemas:
    DailySales:
      type: object
      properties:
        sales:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              date:
                type: string
              hour:
                type: integer
                format: int32
              storeId:
                type: integer
                format: int32
              storeName:
                type: string
              productId:
                type: integer
                format: int32
              prodcutName:
                type: string
              quantity:
                type: integer
                format: int32
    Store:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Product:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string

  parameters:
    Year:
      name: year
      in: path
      description: 取得する年 (YYYY 形式)
      required: true
      schema:
        type: string
        pattern: "^[0-9]{4}$"
        example: "1900"
    Month:
      name: month
      in: path
      description: 取得する月 (MM 形式)
      required: true
      schema:
        type: string
        pattern: "^(0[1-9]|1[0-2])$"
        example: "01"
    Day:
      name: day
      in: path
      description: 取得する週の始まりの日 (DD 形式)
      required: true
      schema:
        type: string
        pattern: "^(0[1-9]|[12][0-9]|3[01])$"
        example: "01"

  examples:
    DailySales:
      value:
        sales:
          - id: 1
            date: 1900-01-01
            hour: 10
            storeId: 1
            storeName: ABCマート
            productId: 1
            productName: キャベツ
            quantity: 5
          - id: 2
            date: 1900-01-01
            hour: 10
            storeId: 2
            storeName: XYZショップ
            productId: 2
            productName: トマト
            quantity: 3
          - id: 3
            date: 1900-01-01
            hour: 11
            storeId: 3
            storeName: あいう商店
            productId: 3
            productName: じゃがいも
            quantity: 8
          - id: 4
            date: 1900-01-01
            hour: 11
            storeId: 1
            storeName: ABCマート
            productId: 4
            productName: りんご
            quantity: 10
          - id: 5
            date: 1900-01-01
            hour: 12
            storeId: 2
            storeName: XYZショップ
            productId: 5
            productName: みかん
            quantity: 15
          - id: 6
            date: 1900-01-01
            hour: 12
            storeId: 3
            storeName: あいう商店
            productId: 1
            productName: キャベツ
            quantity: 7
          - id: 7
            date: 1900-01-01
            hour: 13
            storeId: 1
            storeName: ABCマート
            productId: 2
            productName: トマト
            quantity: 2
          - id: 8
            date: 1900-01-01
            hour: 13
            storeId: 2
            storeName: XYZショップ
            productId: 3
            productName: じゃがいも
            quantity: 6
          - id: 9
            date: 1900-01-01
            hour: 14
            storeId: 3
            storeName: あいう商店
            productId: 4
            productName: りんご
            quantity: 9
          - id: 10
            date: 1900-01-01
            hour: 14
            storeId: 1
            storeName: ABCマート
            productId: 5
            productName: みかん
            quantity: 12
        store:
          - id: 1
            name: ABCマート
          - id: 2
            name: XYZショップ
          - id: 3
            name: あいう商店
        product:
          - id: 1
            name: キャベツ
          - id: 2
            name: じゃがいも
          - id: 3
            name: トマト
          - id: 4
            name: みかん
