openapi: 3.0.3
info:
  title: 柿の葉亭売上管理サイト
  version: latest
servers:
  - url: http://jainner.kakinohatei.com/api/
    description: プロダクション API
  - url: http://localhost/api/
    description: 開発用
tags:
  - name: sales
    description: 売上の管理

paths:
  /sales/day/{year}/{month}/{day}/store:
    get:
      tags:
        - sales
      summary: 1日の売上を確認する
      description: 1日の売上を時間ごとの確認する
      operationId: getDailySales
      parameters:
        - $ref: "#/components/parameters/Year"
        - $ref: "#/components/parameters/Month"
        - $ref: "#/components/parameters/Day"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DailySalesByStore"
              examples:
                default:
                  $ref: "#/components/examples/DailySalesByStore"
        "400":
          description: リクエストが無効です。年、月、または日の形式が正しくありません。
        "404":
          description: 指定された週の売上データが見つかりません。
        "500":
          description: サーバーエラー。売上データの取得に失敗しました。

components:
  schemas:
    DailySalesByStore:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            format: int64
          store:
            type: string
          value:
            type: integer
            format: int32
          products:
            type: array
            items:
              $ref: "#/components/schemas/Product"
    Product:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        price:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        total:
          type: integer
          format: int32

  parameters:
    Year:
      name: year
      in: path
      description: 取得する年 (YYYY 形式)
      required: true
      schema:
        type: string
        pattern: "^[0-9]{4}$"
        example: "1900"
    Month:
      name: month
      in: path
      description: 取得する月 (MM 形式)
      required: true
      schema:
        type: string
        pattern: "^(0[1-9]|1[0-2])$"
        example: "01"
    Day:
      name: day
      in: path
      description: 取得する週の始まりの日 (DD 形式)
      required: true
      schema:
        type: string
        pattern: "^(0[1-9]|[12][0-9]|3[01])$"
        example: "01"

  examples:
    DailySalesByStore:
      value:
        - id: 1
          store: "All"
          value: 12500
          products:
            - id: 101
              name: "りんご"
              price: 150
              quantity: 35
              total: 5250
            - id: 102
              name: "みかん"
              price: 100
              quantity: 50
              total: 5000
            - id: 103
              name: "バナナ"
              price: 80
              quantity: 25
              total: 2000
            - id: 104
              name: "パイナップル"
              price: 200
              quantity: 10
              total: 2000
            - id: 105
              name: "イチゴ"
              price: 300
              quantity: 5
              total: 1500
        - id: 2
          store: "ABCマート"
          value: 5000
          products:
            - id: 101
              name: "りんご"
              price: 150
              quantity: 20
              total: 3000
            - id: 102
              name: "みかん"
              price: 100
              quantity: 30
              total: 3000
            - id: 103
              name: "バナナ"
              price: 80
              quantity: 25
              total: 2000
        - id: 3
          store: "XYZショップ"
          value: 4000
          products:
            - id: 101
              name: "りんご"
              price: 150
              quantity: 15
              total: 2250
            - id: 104
              name: "パイナップル"
              price: 200
              quantity: 10
              total: 2000
        - id: 4
          store: "あいう商店"
          value: 3500
          products:
            - id: 102
              name: "みかん"
              price: 100
              quantity: 20
              total: 2000
            - id: 105
              name: "イチゴ"
              price: 300
              quantity: 5
              total: 1500
